<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {{header.brand}}
            </a>
        </div>
        <nav>
            <ul class="nav navbar-nav">
                <li class="nav-item" ng-repeat="link in header.links">
                    <a class="nav-link" href="{{link.href}}">
                        {{link.text}}
                    </a>
                </li>
                <li ng-if="header.newsletter">
                    <a ng-click="newsletter()" href="javascript:void(0)">
                        Newsletter
                    </a>
                </li>

                <li ng-if="header.social && header.social.fb">
                    <a ng-href="{{header.social.fb}}" target="_blank">
                       <i class="fa fa-facebook-f"></i>
                    </a>
                </li>
                <li ng-if="header.social && header.social.twitter">
                    <a ng-href="{{header.social.twitter}}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li ng-if="header.social && header.social.github">
                    <a ng-href="{{header.social.github}}" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li ng-if="header.social && header.social.pinterest">
                    <a ng-href="{{header.social.pinterest}}" target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
                <li ng-if="header.social && header.social.linkedIn">
                    <a ng-href="{{header.social.linkedIn}}" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li ng-if="header.accounts && !isLoggedIn">
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li ng-if="header.accounts && !isLoggedIn">
                    <a href="/register">
                        Register
                    </a>
                </li>
                <li ng-if="isLoggedIn">
                    <a href="javascript:void(0)" ng-click="account()">
                        Account
                    </a>
                </li>
                <li ng-if="isLoggedIn">
                    <a href="/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>