<nav class="navbar navbar-light no-radius bg-white container">
    <a class="navbar-brand" href="/user/">
        Consumer
    </a>
    <div class="bg-white navbar-toggleable-md" id="navbar-header">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user/articles">
                    Articles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>