<div class="aside-menu">
    <uib-accordion close-others="true">
        <div class="panel-default panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/publisher/">DASHBOARD</a>
                </h4>
            </div>
        </div>
        <div uib-accordion-group class="panel-default">
            <div uib-accordion-heading>
                ARTICLES
            </div>
            <ul>
                <li>
                    <a href="/publisher/article-new">Create Article</a>
                </li>
                <li>
                    <a href="/publisher/articles">List Articles</a>
                </li>
            </ul>
        </div>
        <div uib-accordion-group class="panel-default">
            <div uib-accordion-heading>
                MARKETING
            </div>
            <ul>
                <li>
                    <a href="/publisher/menu">Menus</a>
                </li>
                <li>
                    <a href="/publisher/pages">Pages</a>
                </li>
            </ul>
        </div>
    </uib-accordion>
</div>